#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#orange {
    background-color: orange;
}

#blue {
    background-color: blue;
}

* {
    font-size: x-large;
}

@media only screen and (min-width: 992px) {
    * {
        font-size: medium;
    }
}